<!doctype html> 
<html lang = "en">
<head>
<meta charset = "UTF-8">
<title>Wild Cats</title>
<link rel ="stylesheet" type = "text/css" href = "WildCats.css" />
</head>
<body>  
<div class = "top">
	Wild Cats
</div>
<div class = "main">
   <p>The African Savanna ecosystem is a tropical grassland with warm temperatures year-round 
	  and with its highest seasonal rainfall in the summer. The savanna is characterized by grasses 
	  and small or dispersed trees that do not form a closed canopy, allowing sunlight to reach the ground. 
	  The African savanna contains a diverse community of organisms that interact to form a complex food web.
	  Reference: www.nationalgeographic.com
   </p>
   <img class = "leopard" src = "leopard.jpg" height ="100" width="120" alt = "leopard" />
   <img class = "panther" src = "panther.jpg" height ="100" width="120" alt = "panther" />
</div>
</body>
</html>
