<!doctype html>    
<html lang = "en">
<head>
<meta charset = "UTF-8">
<title>Parent Child</title>
<link rel ="stylesheet" type = "text/css" href = "ParentChild.css" />
</head>
<body>
<h1>Parent Child Example</h1>
<div class = "mainSection">
     <p>This mainsection div element has an aqua background. 
        It is inside the body element. The body element is its 
        parent.</p>
     <p>The width of this aqua div is set to 50%. This means it takes up 
        50% of the width of its parent. It takes up 50% of the width 
        of the body element.</p>
      <div class="art">
            <a href = "https://passthefeather.org/" title="art">
               Indigenous Art</a>
            <img src = "DancingBear.jpg" height="100" width="100" alt="bear"/>
            <p>This div has a dark coral background. It is inside the
                  mainsection div element. The mainsection div 
                  element is its parent.</p>
            <p>The width of this div is set to 75%. This means it 
               takes up 75% of the width of its parent. It takes up 
               75% of the width of the mainsection div element.
               It does not take up 75% of the width of the 
               web page.</p>
      </div>
</div>
</body>
</html>
