<!doctype html>    
<html lang = "en">
<head>
<meta charset = "UTF-8">
<title>Centering</title>
<link rel ="stylesheet" type = "text/css" href = "Centering.css" />
</head>
<body>
<h1>Centering</h1>
<p>This is a regular paragraph. It does not have a class associated with it.</p>
<div class = "mainBody">
   <p>This paragraph is inside a div class. The div element has a double border and a 
	  width of 75%. The text inside the box is centred because of the text-align attribute.
	  The box with the border is centred on the page because of the margin-left and 
	  margin-right attributes.</p>
   <p>Here is a second paragraph. Filler text. Filler text.Filler text.Filler text. 
	  Filler text. Filler text.Filler text.Filler text. 
	  Filler text. Filler text.Filler text.Filler text. 
	  Filler text. Filler text.Filler text.Filler text. 
	  Filler text. Filler text.Filler text.Filler text. 
   </p>
</div>
</body>
</html>
