<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>flex3</title>
  <link rel="stylesheet" href="flex3.css">
</head>
<body>
<h1>Flex Example 3</h1>
<p>The flex items do not have flex:1. Each flex item is the width of its contents.</p>
<p>The flex container has justify-content:center. As you resize smaller, each row is 
	centred. Note that the browser is making the decision based on what it thinks is 
   best for the current device.</p>
</p>
<!-- Create a flex container to encompass the flex items -->
<div class="flexcontainer">
    <div class="flexitem">langur</div>
	  <div class="flexitem">sloth</div>
    <div class="flexitem">gaur</div>
    <div class="flexitem">mongoose</div>
    <div class="flexitem">buffalo</div>
	  <div class="flexitem">linsang</div>
  	<div class="flexitem">yellow marten</div>
</div>
</body>
</html>